.create {
    display: flex;
    justify-content: center;
    font-family: Bad Script;
}

.create input {
    width:800px;
    border-radius: 5px;

}

.createcard{
    box-shadow: 1px 1px 1px 1px rgb(204, 204, 204);
    padding: 20px;
    margin: 20px;
}

.create input:hover {
    border-color: blue;
}

.create form {
    display:flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width:800px;
}

.create button {
    margin:30px;
    border-radius: 5px;
    width:200px;
}